ul[role="list"] { 
  list-style: none;
}

#task-list {
  display: none;
}

ul {

  & .task {
    background-color: var(--gray-300);
    border: 1px solid var(--gray-400);
    border-radius: 0.5rem;

    padding: 0.75rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.5rem;
    position: relative;
    justify-content: space-between;
    
    color: var(--gray-600);
    font-family: var(--ff);
    font-weight: var(--fw-reg);
    font-size: var(--fs-sm);
    line-height: 140%;

    & .hidden-checkbox {
      display: none;
    }

    & .circle-regular,
    .trash-regular {
      cursor: pointer;
    }

    & .trash-regular  {
      width: 1.5rem;
      height: 1.5rem;

      & img {
        width: 1rem;
        height: 1rem;

        &:hover {
          content: url('/./assets/TrashFill.svg');
          width: 1rem;
          height: 1rem;
          background-color: var(--gray-400);
          border-radius: 0.25rem;
        }
      }
    }
  }

  & .task:hover {
    background-color: var(--gray-200);

    & .circle-regular {
      content: url('/./assets/CircleDuotone.svg');
    }
  }

  &:has(:checked) {
    & .task {
      background-color: var(--gray-100);

      color: var(--gray-500);
      text-decoration: line-through;

      .circle-regular {
        content: url('/./assets/CheckCircleFill.svg');
      }
    }

    & .task:hover {
      background-color: var(--gray-200);

      & .circle-regular {
        content: url('/./assets/CheckCircleFillDuotone.svg');
      }
    }
  }
}